<app-header titulo="card"></app-header>

<ion-content class="ion-padding">

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda iure at dolorem excepturi? Nostrum facere provident fugit laudantium consectetur expedita mollitia veniam cumque. Nesciunt illum non repellendus eaque asperiores distinctio.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://m.media-amazon.com/images/M/MV5BMzc4OTBhODQtNDE5YS00NjE2LWJmZGMtMmYwMTI1NDE4ZWY0XkEyXkFqcGdeQXVyMTA0MTM5NjI2._V1_.jpg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores corporis non delectus amet veritatis at doloremque ex quis cupiditate sit quidem, odit obcaecati magni reprehenderit voluptate? Non dicta explicabo laboriosam?
    </ion-card-content>
  </ion-card>

</ion-content>