<app-header [titulo]="nombre || 'input'"></app-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item>
      <ion-label>Awesome Label</ion-label>
      <ion-input type="text" placeholder="Awesome Input" [(ngModel)]="nombre"></ion-input>
    </ion-item>
  </ion-list>

  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <ion-list-header>
      <ion-label>Formulario Valido: {{ formulario.valid }}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" placeholder="Email" required name="email" [(ngModel)]="usuario.email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="usuario.password" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" shape="round" [disabled]="formulario.invalid">
      Log In
    </ion-button>
  </form>

</ion-content>